In [1]:
#Import libraries
import pandas as pd
import seaborn as sns

In [3]:
#Load Data in Dataframe
import time
start_time = time.time()
train_data = pd.read_csv('train_data_1_3.csv')
print("--- %s seconds ---" % (time.time() - start_time))
train_data

--- 92.0199978351593 seconds ---

,customer_ID,S_2,P_2,D_39,B_1,B_2,R_1,S_3,D_41,B_3,...,D_136,D_137,D_138,D_139,D_140,D_141,D_142,D_143,D_144,D_145
0,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-03-09,0.938469,0.001733,0.008724,1.006838,0.009228,0.124035,0.008771,0.004709,...,NaN,NaN,NaN,0.002427,0.003706,0.003818,NaN,0.000569,0.000610,0.002674
1,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-04-07,0.936665,0.005775,0.004923,1.000653,0.006151,0.126750,0.000798,0.002714,...,NaN,NaN,NaN,0.003954,0.003167,0.005032,NaN,0.009576,0.005492,0.009217
2,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-05-28,0.954180,0.091505,0.021655,1.009672,0.006815,0.123977,0.007598,0.009423,...,NaN,NaN,NaN,0.003269,0.007329,0.000427,NaN,0.003429,0.006986,0.002603
3,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-06-13,0.960384,0.002455,0.013683,1.002700,0.001373,0.117169,0.000685,0.005531,...,NaN,NaN,NaN,0.006117,0.004516,0.003200,NaN,0.008419,0.006527,0.009600
4,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-07-16,0.947248,0.002483,0.015193,1.000727,0.007605,0.117325,0.004653,0.009312,...,NaN,NaN,NaN,0.003671,0.004946,0.008889,NaN,0.001670,0.008126,0.009827
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1843811,551332666e152692d055673e6b5c4d91513b9b1b520b59...,2017-06-10,0.868598,0.003087,0.006729,1.007126,0.004063,NaN,0.000969,0.003729,...,NaN,NaN,NaN,0.004385,0.009143,0.005029,NaN,0.000845,0.006735,0.007264
1843812,551332666e152692d055673e6b5c4d91513b9b1b520b59...,2017-07-12,0.870005,0.002934,0.008773,0.810655,0.001595,NaN,0.004480,0.001505,...,NaN,NaN,NaN,0.009393,0.007027,0.001335,NaN,0.005465,0.006338,0.009327
1843813,551332666e152692d055673e6b5c4d91513b9b1b520b59...,2017-08-12,0.875224,0.003841,0.004769,0.813141,0.002674,NaN,0.009472,0.003478,...,NaN,NaN,NaN,0.004505,0.004690,0.009579,NaN,0.000148,0.008764,0.002256
1843814,551332666e152692d055673e6b5c4d91513b9b1b520b59...,2017-09-11,0.878103,0.003218,0.001273,0.817839,0.004212,NaN,0.005696,0.001566,...,NaN,NaN,NaN,0.008626,0.002324,0.008664,NaN,0.008137,0.002558,0.003015
1843815,551332666e152692d055673e6b5c4d91513b9b1b520b59...,2017-10-12,0.875412,0.009175,0.000855,0.815367,0.007991,NaN,0.007674,0.000403,...,NaN,NaN,NaN,0.001659,0.008243,0.003480,NaN,0.004746,0.004889,0.007499

In [4]:
#df Shape
train_data.shape

(1843816, 190)

In [5]:
#df Describe
train_data.describe()

,P_2,D_39,B_1,B_2,R_1,S_3,D_41,B_3,D_42,D_43,...,D_136,D_137,D_138,D_139,D_140,D_141,D_142,D_143,D_144,D_145
count,1.828768e+06,1.843816e+06,1.843816e+06,1.843157e+06,1.843816e+06,1.502536e+06,1.843157e+06,1.843157e+06,263035.000000,1.294907e+06,...,6.470400e+04,6.470400e+04,6.470400e+04,1.810288e+06,1.830332e+06,1.810288e+06,316896.000000,1.810288e+06,1.830297e+06,1.810288e+06
mean,6.561994e-01,1.532823e-01,1.237774e-01,6.213691e-01,7.887623e-02,2.255299e-01,5.975114e-02,1.325508e-01,0.184377,1.548705e-01,...,2.437533e-01,1.428760e-02,1.649556e-01,1.800533e-01,2.659682e-02,1.656560e-01,0.393221,1.799304e-01,5.355266e-02,6.237860e-02
std,2.449781e-01,2.704861e-01,2.117769e-01,4.012726e-01,2.264993e-01,1.930912e-01,2.011909e-01,2.352037e-01,0.228487,2.145297e-01,...,2.093059e-01,9.591141e-02,2.706619e-01,3.800259e-01,1.453866e-01,3.493976e-01,0.238232,3.799192e-01,1.853054e-01,1.938310e-01
min,-4.210819e-01,5.026190e-09,-1.535724e+00,4.012278e-07,1.534223e-09,-4.670303e-01,7.566819e-09,4.869306e-08,-0.000454,2.876647e-07,...,5.736685e-07,4.129697e-08,8.257268e-08,5.286876e-10,8.187923e-09,5.011415e-09,-0.014441,5.549692e-09,4.105997e-08,2.246565e-08
25%,4.795650e-01,4.528378e-03,8.830189e-03,1.054462e-01,2.899305e-03,1.270728e-01,2.879374e-03,5.231624e-03,0.036899,4.221312e-02,...,9.399666e-03,2.527870e-03,3.500992e-03,3.027885e-03,2.557897e-03,3.032643e-03,0.200981,3.031578e-03,2.752937e-03,3.028262e-03
50%,6.942811e-01,9.056243e-03,3.130049e-02,8.143230e-01,5.785157e-03,1.638129e-01,5.750986e-03,9.786492e-03,0.120579,8.852323e-02,...,2.540453e-01,5.085130e-03,7.020219e-03,6.058207e-03,5.112906e-03,6.059736e-03,0.384759,6.059775e-03,5.512462e-03,6.055563e-03
75%,8.650954e-01,2.367570e-01,1.256064e-01,1.002378e+00,8.663830e-03,2.578012e-01,8.623555e-03,1.547435e-01,0.250536,1.846129e-01,...,2.582882e-01,7.579593e-03,5.015399e-01,9.091625e-03,7.663254e-03,9.095720e-03,0.561299,9.086217e-03,8.273219e-03,9.091073e-03
max,1.010000e+00,5.362196e+00,1.324059e+00,1.010000e+00,3.006102e+00,5.482888e+00,6.798167e+00,1.625262e+00,4.191119,1.007560e+01,...,1.759910e+00,1.009995e+00,3.005383e+00,1.010000e+00,1.010000e+00,1.339910e+00,2.229368,1.010000e+00,1.343327e+00,4.827630e+00

In [6]:
#Check duplicate values
duplicate = train_data[train_data.duplicated()]
duplicate

Empty DataFrame
Columns: [customer_ID, S_2, P_2, D_39, B_1, B_2, R_1, S_3, D_41, B_3, D_42, D_43, D_44, B_4, D_45, B_5, R_2, D_46, D_47, D_48, D_49, B_6, B_7, B_8, D_50, D_51, B_9, R_3, D_52, P_3, B_10, D_53, S_5, B_11, S_6, D_54, R_4, S_7, B_12, S_8, D_55, D_56, B_13, R_5, D_58, S_9, B_14, D_59, D_60, D_61, B_15, S_11, D_62, D_63, D_64, D_65, B_16, B_17, B_18, B_19, D_66, B_20, D_68, S_12, R_6, S_13, B_21, D_69, B_22, D_70, D_71, D_72, S_15, B_23, D_73, P_4, D_74, D_75, D_76, B_24, R_7, D_77, B_25, B_26, D_78, D_79, R_8, R_9, S_16, D_80, R_10, R_11, B_27, D_81, D_82, S_17, R_12, B_28, R_13, D_83, ...]
Index: []

[0 rows x 190 columns]

In [7]:
#Checking percantage of null values
round(train_data.isnull().sum() / train_data.shape[0] *100,2)

customer_ID     0.00
S_2             0.00
P_2             0.82
D_39            0.00
B_1             0.00
               ...
D_141           1.82
D_142          82.81
D_143           1.82
D_144           0.73
D_145           1.82
Length: 190, dtype: float64

In [8]:
#Data types
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1843816 entries, 0 to 1843815
Columns: 190 entries, customer_ID to D_145
dtypes: float64(185), int64(1), object(4)
memory usage: 2.6+ GB

In [12]:
#Convert to numeric function, drop years and geo variables
def getNumericCol(df):
    # Excluding date column from the dataset just to have numerical data in order to find out the outliers
    numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
    df = df.select_dtypes(include=numerics )
    
    # Remove any year(yr) columns for numeric ananlysis
    df = df[df.columns.drop(list(df.filter(regex='yr')))]
    
    # Remove any year(yr) columns for numeric ananlysis
    #df = df[df.columns.drop('id')]
    
    return df

In [13]:
#Create numeric DF
train_data_Num = getNumericCol(train_data)
train_data_Num.head()

,P_2,D_39,B_1,B_2,R_1,S_3,D_41,B_3,D_42,D_43,...,D_136,D_137,D_138,D_139,D_140,D_141,D_142,D_143,D_144,D_145
0,0.938469,0.001733,0.008724,1.006838,0.009228,0.124035,0.008771,0.004709,NaN,NaN,...,NaN,NaN,NaN,0.002427,0.003706,0.003818,NaN,0.000569,0.000610,0.002674
1,0.936665,0.005775,0.004923,1.000653,0.006151,0.126750,0.000798,0.002714,NaN,NaN,...,NaN,NaN,NaN,0.003954,0.003167,0.005032,NaN,0.009576,0.005492,0.009217
2,0.954180,0.091505,0.021655,1.009672,0.006815,0.123977,0.007598,0.009423,NaN,NaN,...,NaN,NaN,NaN,0.003269,0.007329,0.000427,NaN,0.003429,0.006986,0.002603
3,0.960384,0.002455,0.013683,1.002700,0.001373,0.117169,0.000685,0.005531,NaN,NaN,...,NaN,NaN,NaN,0.006117,0.004516,0.003200,NaN,0.008419,0.006527,0.009600
4,0.947248,0.002483,0.015193,1.000727,0.007605,0.117325,0.004653,0.009312,NaN,NaN,...,NaN,NaN,NaN,0.003671,0.004946,0.008889,NaN,0.001670,0.008126,0.009827

In [ ]:
# Create the pairplot for numeric values
sns.pairplot(train_data_Num, diag_kind = 'kde')

In [ ]:
test = pd.get_dummies(health_care['ever_married'])
test